<nav
  data-ng-controller="TopNavController"
  class="navbar page-header navbar-light fixed-top"
>
  <div class="d-flex justify-content-between w-100 bg-accent-violet">
    <div class="d-flex align-items-center">
      <div class="navbar-brand cursor-pointer" tabindex="0">
        <div class="position-relative">
          <img
            alt="Keka"
            height="35"
            width="75"
            class="m-4"
            src="assets/images/chat-icon.png"
          />
        </div>
      </div>
      <h1 class="nav-title align-self-center">
        <a class="text-white"> Corporate Chat Club </a>
      </h1>

      <!-- <div class="mt-1 ml-2">
        <span
          class="ki ki-xl ki-settings-fill text-white cursor-pointer"
        ></span>
      </div>

      -->
    </div>
    <div
      id="top-nav"
      class="page-header-left d-flex align-items-center"
      routerLink="user-profile"
    >
      <div dropdown="" class="dropdown">
        <a
          dropdowntoggle=""
          id="userProfile"
          aria-haspopup="true"
          aria-expanded="false"
          class="user-options"
          ><span class="profile-name mr-20">Marapalli Pavan</span>
          <div class="employee-profile-header">
            <div class="profile profile-32">
              <div class="profile-picture-container">
                <div>
                  <img
                    class="profile-picture"
                    src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                  />
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
