<div class="card clear-margin">
  <div
    class="card-body pl-0 pt-8 pr-8 pb-4 d-flex align-items-center justify-content-between"
  >
    <div class="d-flex justify-content-center align-items-center">
      <div
        style="
          background-image: url(assets/images/profile-bg.png);
          background-position: center;
        "
        class="w-200 h-100px p-20 d-flex justify-content-center"
      >
        <div class="employee-profile-header">
          <div class="profile profile-80">
            <div class="profile-picture-container">
              <div>
                <!-- <img class="profile-picture" src="assets/images/download.jpg" /> -->

                <img
                  class="profile-picture"
                  src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-70">
        <h1>Pavan Marapalli</h1>
        <p class="text-large text-secondary">Nothing can stop you. Be you</p>
      </div>
      <div class="ml-50">
        <div class="d-flex">
          <i class="ki ki-mail"></i>
          <a href="#" class="text-accent-violet ml-2">pav.ram@xyz.com</a>
        </div>
        <div class="d-flex">
          <i class="ki ki-phone"></i>
          <p class="font-weight-semi-bold ml-2">9654300990</p>
        </div>
      </div>
    </div>
    <div class="ml-100">
      <div class="d-flex align-items-center w-450">
        <img src="assets/images/quotes.png" class="w-60" alt="qoutes" />
        <p class="ml-10">
          I am super duper bright star and I do my best to keep customers
          excited about keka
        </p>
      </div>
    </div>
  </div>
  <div>
    <ul class="nav sub-topnav bg-secondary p-4 border">
      <li routerLinkActive="active"><a routerLink="about-user">About</a></li>
      <li routerLinkActive="active"><a routerLink="user-clubs">Clubs</a></li>
      <li routerLinkActive="active">
        <a routerLink="user-favourites">Favourites</a>
      </li>
    </ul>
  </div>
</div>
