<div class="page-container">
    <div class="page-title">
        <div class="d-flex justify-content-between align-items-center mb-20">
            <div class="review-group-title">
                <h1>All Users</h1>
            </div>
            <div class="add-group-container d-flex align-items-center">
                <button class="btn bg-accent-violet text-white" (click)="openAddUserForm()" >Add User</button>
            </div>
        </div>
    </div>
    <app-user-list></app-user-list>
</div>