<div class="mt-20">
    <div class="card clear-margin">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h3>Professional Summary</h3>
                <div>
                    <i class="ki ki-edit mr-10"></i>
                    <i class="ki ki-eye cursor-pointer" #displayContactDetails
                        *ngIf="displayContactDetails; else hideContactDetails" (click)="changeVisibility()"></i>
                    <ng-template #hideContactDetails>
                        <i class="ki ki-eye-slash cursor-pointer" (click)="changeVisibility()"></i>
                    </ng-template>
                </div>
            </div>
            <div class="w-400 mt-20 mb-20">
                <p class="font-size-semi-bold text-secondary">{{professionalSummary}}</p>
            </div>
        </div>
    </div>
</div>